@layer utilities {
    @keyframes fade-fast {
      0% {
        opacity: 0.6;
      }
      100% {
        opacity: 0;
      }
    }
  
    .animate-fade-fast {
      animation: fade-fast 150ms ease-out;
    }
  }


  aside {
    transition: transform 0.3s ease;
  }