
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Unica+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');
@import url('https://cdn.jsdelivr.net/npm/paymentfont@1.2.5/css/paymentfont.min.css');


@import "tailwindcss";



@layer utilities {
  .font-titulo {
    @apply text-4xl font-bold;
    font-family: 'Montserrat', sans-serif;
  }

  .font-subtitulo {
    @apply text-lg font-medium;
    font-family: 'Montserrat', sans-serif;
  }
}

.kalm {
    font-family: 'Kalam';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

.sticky-lemon {
  font-family: 'Quicksand', sans-serif;
}

.playfair-display-fontuse {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .sansation-light {
    font-family: "Sansation", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .sansation-regular {
    font-family: "Sansation", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .sansation-bold {
    font-family: "Sansation", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .sansation-light-italic {
    font-family: "Sansation", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .sansation-regular-italic {
    font-family: "Sansation", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .sansation-bold-italic {
    font-family: "Sansation", sans-serif;
    font-weight: 700;
    font-style: italic;
  }


  